/* Body styling */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #3498db 25%, #e8f0fe 25% 75%, #3498db 25%);
    height: 100%;
}

/* Logo container */
.logo-container {
    position: absolute;
    top: 20px;
    left: 20px;
}

.logo {
    width: 200px;
}

/* Login container */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background: #f8f9fa;
    border: 2px solid #a39f96;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    max-height: 200px;
    width: 100%;
    margin: 70px auto 20px auto;
}

.header-text {
    text-align: center;
    margin-right: 10px;
    font-size: 1rem;
    font-weight: bold;
}

.header-image {
    width: 250px;
    height: auto;
}

/* Form styling */
.form-label {
    font-weight: 400;
}

.form-control {
    padding: 10px;
    border-radius: 50px;
    border: 1px solid #ccc;
    font-size: 1rem;
    margin-bottom: 20px;
}

.btn-signin {
    background-color: #ffcc66;
    border: none;
    width: 100%;
    color: #000;
    padding: 10px;
    font-size: 1rem;
    border-radius: 50px;
    margin: 10px 0;
    text-align: center;
    display: block;
}

.btn-signin:hover {
    background-color: #e6b85c;
}

.btn-signin:focus {
    outline: none;
    border-bottom: none;
}

/* Styling untuk teks "Or Sign In With" */
.or-signin-with {
    font-weight: bold;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
}

/* Social Media Container */
.social-container {
    display: flex;
    justify-content: center;
    gap: 20px; /* Space between each social media box */
    margin: 20px 0;
}

/* Styling untuk setiap box sosial media */
.social-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d6d1d1;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 15px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

/* Styling untuk logo */
.social-logo {
    width: 30px;
    height: 30px;
    margin-right: 2px; /* Memberi jarak antara logo dan teks */
}

/* Styling untuk teks di samping logo */
.social-text {
    font-size: 1rem;
    font-weight: 600;
    color: #333;
}

/* Hover effect untuk kotak sosial media */
.social-box:hover {
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.main-content {
    background: linear-gradient(to bottom, #3498db 25%, #e8f0fe 25% 75%, #3498db 25%);
    min-height: 100vh;
}